################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SymbioticEngine/3rdPartyDeps
/SymbioticEngine/SymbioticEngine.VC.VC.opendb
/SymbioticEngine/SymbioticEngine.VC.db
/SymbioticEngine/SymbioticEngine.sln
/SymbioticEngine/Debug
/SymbioticEngine/.vs

/SymbioticEngine/DemoProject/Debug
/SymbioticEngine/DemoProject/glew32.dll
/SymbioticEngine/DemoProject/SDL2.dll
/SymbioticEngine/DemoProject/DemoProject.vcxproj.user
/SymbioticEngine/DemoProject/DemoProject.vcxproj.filters
/SymbioticEngine/DemoProject/DemoProject.vcxproj

/SymbioticEngine/Maize/Maize.vcxproj.filters
/SymbioticEngine/Maize/Maize.vcxproj
/SymbioticEngine/Maize/Debug
/SymbioticEngine/Maize/glew32.dll
/SymbioticEngine/Maize/SDL2.dll

/SymbioticEngine/SBE/Debug
/SymbioticEngine/SBE/glew32.dll
/SymbioticEngine/SBE/ReadMe.txt
/SymbioticEngine/SBE/SDL2.dll
/SymbioticEngine/SBE/SBE.vcxproj.user
/SymbioticEngine/SBE/SBE.vcxproj.filters
/SymbioticEngine/SBE/SBE.vcxproj
/SymbioticEngine/SBE/Release
/SymbioticEngine/Release
/SymbioticEngine/DemoProject/Release
